---
import { getCollection } from "astro:content";
import { Picture } from "@astrojs/image/components";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";


// Filter blog entries with 'draft: false' & date before current date
const publishedBlogEntries = await getCollection("blog", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});

// Sort content entries by publication date
publishedBlogEntries.sort(function (a, b) {
  return b.data.publishDate.valueOf() - a.data.publishDate.valueOf();
});


---
<div id="blog" class="pb-32 ">
  <hr class="p-8 border-t border-blue-500 font-montserrat">
    <Container>
      <Sectionhead>
        <Fragment slot="title">Lo que pidieron nuestros clientes</Fragment>
        <Fragment slot="desc">
          Todos los proyectos son realizados por el equipo de profesionales con el objetivo de satisfacer las necesidades de nuestros clientes.
        </Fragment>
      </Sectionhead>
      <main class="mt-16">
        <ul class="flex flex-wrap justify-around">
          {
            publishedBlogEntries.map((blogPostEntry, index) => (
              <li class="border-grey border-4 p-4 rounded-md w-96">
                <a href={`/blog/${blogPostEntry.slug}`}>
                  <div class="flex flex-col md:grid-cols-2 gap-5 md:gap-10 items-center">
                    <Picture
                      src={blogPostEntry.data.image.src}
                      alt={blogPostEntry.data.image.alt}
                      sizes="(max-width: 800px) 100vw, 800px"
                      widths={[200, 400, 800]}
                      aspectRatio="16:9"
                      background="#ffffff"
                      fit="cover"
                      position="center"
                      loading={index <= 2 ? "eager" : "lazy"}
                      decoding={index <= 2 ? "sync" : "async"}
                      class="w-full rounded-md"
                    />
                    <div class="flex flex-col">
                      <div class="flex flex-col">
                        <span class="text-blue-400 uppercase tracking-wider text-sm font-medium">
                          {blogPostEntry.data.category}
                        </span>
        
                        <h2 class="text-3xl font-semibold leading-snug tracking-tight mt-1 ">
                          {blogPostEntry.data.title}
                        </h2>
                      </div>
        
                      <div class="flex flex-col gap-2 mt-3">
                        <span class="text-gray-400">
                          {blogPostEntry.data.author}
                        </span>
                        <time
                          class="text-gray-400"
                          datetime={blogPostEntry.data.publishDate.toISOString()}>
                          {blogPostEntry.data.publishDate.toDateString()}
                        </time>
                      </div>
                    </div>
                  </div>
                </a>
              </li>
            ))
          }
        </ul>
      </main>
    </Container>

</div>

