---
import { getCollection } from "astro:content";
import { Picture } from "@astrojs/image/components";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";


// Filter blog entries with 'draft: false' & date before current date
const publishedBlogEntries = await getCollection("blog", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});

// Sort content entries by publication date
publishedBlogEntries.sort(function (a, b) {
  return b.data.publishDate.valueOf() - a.data.publishDate.valueOf();
});


---
<div id="blog">
  <div class="pb-32 pt-32 font-montserrat">
      <Container>
        <Sectionhead>
          <Fragment slot="title" class="text-3xl font-extrabold text-gray-900 sm:text-4xl text-center font-montserrat">Algunos de nuestros clientes destacados</Fragment>
          <Fragment slot="desc">
            Todos los proyectos son realizados por el equipo de profesionales con el objetivo de satisfacer las necesidades de nuestros clientes.
          </Fragment>
        </Sectionhead>
        <main class="mt-16">
          <ul class="flex flex-wrap justify-around">
            {
              publishedBlogEntries.map((blogPostEntry, index) => (
                <li class="border-gray-300 border-4 rounded-md w-96">
                  <a href={`${blogPostEntry.data.author}`}>
                    <div class="flex flex-col md:grid-cols-2 md:gap-5 text-left">
                      <Picture
                        src={blogPostEntry.data.image.src}
                        alt={blogPostEntry.data.image.alt}
                        sizes="(max-width: 800px) 150vw, 800px"
                        widths={[200, 400, 800]}
                        aspectRatio="16:9"
                        background="#ffffff"
                        fit="cover"
                        position="center"
                        loading={index <= 2 ? "eager" : "lazy"}
                        decoding={index <= 2 ? "sync" : "async"}
                        class="w-full border-b-4 border-gray-300"
                      />
                        <div class="text-left pl-4 pb-2">
                          <span class="text-blue-400 uppercase tracking-wider text-sm font-medium relative left-0">
                            {blogPostEntry.data.category}
                          </span>
          
                          <h2 class="text-3xl font-semibold leading-snug tracking-tight mt-1 font-montserrat">
                            {blogPostEntry.data.title}
                          </h2>
                        </div>
                    </div>
                  </a>
                </li>
              ))
            }
          </ul>
        </main>
      </Container>

  </div>
</div>
