---
import launching from "../assets/launching.png";
import layers from "../assets/layers.png";
import programming from "../assets/hero.png";
import talking from "../assets/talking.png";
import test from "../assets/test.png";
import heroImage from "assets/hero.png";

const companyData = [
{
    title: "Elicitacion de Requerimientos",
    description: "Se realiza una entrevista con el cliente para conocer sus necesidades y requerimientos.",
    icon: `<img src={heroImage} class="w-44 rounded-2xl aspect-square p-1 object-contain" />`,
  },
  {
    title: "Analisis y Diseño",
    description:
      "Se realiza un analisis de los requerimientos y se diseña la solucion a implementar.",
    icon: `<img alt="asd" src="${layers}" class="w-44 rounded-2xl aspect-square p-1 object-contain" />`,
  },
  {
    title: "Implementacion de la solución",
    description:
      "Se implementa la solucion diseñada utilizando las mejores practicas de desarrollo.",
    icon: `<img alt="asd" src="${programming}" class="w-44 rounded-2xl aspect-square p-1 object-contain" />`,
  },
  {
    title: "Testeo",
    description:
      "Se realizan pruebas para verificar que la solucion cumpla con los requerimientos del cliente.",
    icon: `<img alt="asd" src="${test}" class="w-44 rounded-2xl aspect-square p-1 object-contain" />`,
  },
  {
    title: "Despliegue",
    description:
      "Se despliega la solucion en el ambiente de produccion y se realiza una capacitacion al cliente. Finalmente se realiza un seguimiento para verificar que la solucion este funcionando correctamente.",
    icon: `<img alt="asd" src="${launching}" class="w-44 rounded-2xl aspect-square p-1 object-contain" />`,
  },
];
---

<div class="flex flex-col items-center justify-center h-full gap-28">
  <h1 class="text-6xl font-bold text-white text-center">¿Cómo trabajamos?</h1>
  <section id="company" class="scroll-mt-28 mb-28 sm:mb-40">
    <ul class="flex flex-col">
      {companyData.map((item, index) => (
        <li class="border-grey border-4 p-4 rounded-md mb-4" key={index}>
          <div class="flex flex-col md:grid-cols-2 gap-5 md:gap-10 items-center">
            {item.icon}
            <div class="flex flex-col">
              <div class="flex flex-col">
                <span class="text-blue-400 uppercase tracking-wider text-sm font-medium">
                  {item.title}
                </span>
                <h3 class="text-3xl font-semibold leading-snug tracking-tight mt-1 ">
                  {item.title}
                </h3>
              </div>
              <div class="flex flex-col gap-2 mt-3">
                <span class="text-gray-400">{item.description}</span>
              </div>
            </div>
          </div>
        </li>
      ))}
    </ul>
  </section>
</div>
